@model Graduation.Models.UploadModel
@{
    Layout = "~/Views/Shared/Guide.cshtml";
}
@if (ViewBag.type == "1")
{
    ViewBag.type = "display:none";
}
<script src="~/Scripts/City.js"></script>
<script type="text/javascript">
    $(function () {
        GetAca();
        $("#Dep").empty();
        $("#Maj").empty();
        $("#Aca").change(function () {
            GetDepart();
        });
        $("#Dep").change(function () {
            GetMajor();
        });
    });
    //获取院
    function GetAca() {
        $("#Aca").empty();
        $.getJSON(
        "/Admin/GetAcalist",
        function (data) {
            $.each(data, function (i, item) {
                $("<option></option>").val(item["Id"]).text(item["Name"]).appendTo($("#Aca"));

            })
        });
    }

    //获取系
    function GetDepart() {
        $("#Dep").empty();
        $.getJSON(
        "/Admin/GetDepartList",
        { pid: $("#Aca").val() },
        function (data) {
            $.each(data, function (i, item) {
                $("<option></option>").val(item["Id"]).text(item["Name"]).appendTo($("#Dep"));

            })
        });
    }
    //获取专业
    function GetMajor() {
        $("#Maj").empty();
        $.getJSON(
        "/Admin/GetMajorList",
        { pid: $("#Dep").val() },
        function (data) {
            $.each(data, function (i, item) {
                $("<option></option>").val(item["Id"]).text(item["Name"]).appendTo($("#Maj"));

            })
        });
    }
</script>



@using (@Html.BeginForm())
{
    @Html.HiddenFor(model => model.fillBaseInfoModel.StudentNumber)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
            <h2>求职与就业信息管理系统</h2>
            <div class="right">
                <span>欢迎&nbsp;&nbsp;</span><span class="admin">就业中心管理员：</span><span class="admin">Admin</span><span>&nbsp;&nbsp;登录本系统</span>
            </div>
        </div>
        <div class="templatemo-content-container now-position">
            <div class="panel panel-default table-responsive clear">
                <table class="table table-striped table-bordered templatemo-user-table table-hover .houtai-table">
                    <tr>
                        <td><p>学校名称：</p>华北电力大学(保定)</td>
                        <td><p>院校代码：</p>10079</td>
                        <td><p>院校隶属部门：</p>教育部</td>
                    </tr>
                    <tr>
                        <td><p>院校隶属部门代码：</p>360</td>
                        <td><p>院校所在地：</p>河北省保定市</td>
                        <td><p>院校所在地代码：</p>130600</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p>院、系、专业</p>
                           @Html.DropDownListFor(model => model.Academy, ViewBag.Aca as List<SelectListItem>, new { id = "Aca", @class = "form-control ly-select" })
                            @Html.DropDownListFor(model => model.Department, ViewBag.Dep as List<SelectListItem>, new { id = "Dep", @class = "form-control ly-select" })
                            @Html.DropDownListFor(model => model.Major, ViewBag.Maj as List<SelectListItem>, new { id = "Maj", @class = "form-control ly-select" })
                        </td>
                        <td>
                           <p>学生类型</p>
                            @Html.RadioButtonFor(model=>model.StudentType,"0")本科生
                            @Html.RadioButtonFor(model=>model.StudentType,"1")研究生
                        </td>
                    </tr>
                    <tr>
                        <td><p>学号：</p>@Html.TextBoxFor(model => model.StudentNumber)</td>
                        <td><p>姓名：</p>@Html.TextBoxFor(model => model.Name)</td>
                        <td>
                            <p>性别：</p>
                            @Html.RadioButtonFor(model => model.Sex, "男")男
                            @Html.RadioButtonFor(model => model.Sex, "女")女
                        </td>
                    </tr>
                    <tr>
                        <td><p>出生年月：</p>@Html.TextBoxFor(model => model.BirthTime)</td>
                        <td><p>身份证号：</p>@Html.TextBoxFor(model => model.IDNumber)</td>
                        <td>
                            <p>民族：</p>
                            @Html.DropDownListFor(model => model.Nation, ViewBag.nation as List<SelectListItem>)
                        </td>
                    </tr>
                    <tr>
                        <td><p>校区：</p><input type="text" value="没定义" /></td>
                        <td><p>专业方向：</p>@Html.TextBoxFor(model => model.MajorDirection)</td>
                        <td><p>所在班级：</p>@Html.TextBoxFor(model => model.Class)</td>
                    </tr>
                    <tr>
                        <td><p>所在教学班：</p>@Html.TextBoxFor(model => model.TeachingClass)</td>
                        <td><p>班主任：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.ClassTeacher)</td>
                        <td><p>健康状况：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.Health)</td>
                    </tr>
                    <tr>
                        <td>
                            <span>政治面貌：</span>
                            @Html.DropDownListFor(model => model.fillBaseInfoModel.PoliticalStatus, ViewBag.Political as List<SelectListItem>)
                        </td>
                        <td>
                            <p>宿舍#宿舍号</p>
                            @Html.DropDownListFor(model => model.fillBaseInfoModel.Dormitory, ViewBag.dor as List<SelectListItem>)
                            @Html.TextBoxFor(model => model.fillBaseInfoModel.RoomNumber)
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p>档案是否转入学校：</p>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsArchivesToSch, "1")是
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsArchivesToSch, "0", new { @checked = true })否
                        </td>
                        <td><span>入学前所在地派出所：</span>@Html.TextBoxFor(model => model.fillBaseInfoModel.PoliceBefore)</td>
                        <td>
                            <p>婚否：</p>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsMargery, "1") 是
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsMargery, "0", new { @checked = true }) 否
                        </td>
                    </tr>
                    <tr>
                        <td><p>手机号：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.TelNumber)</td>
                        <td><p>email：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.Email)</td>
                        <td><p>qq号：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.QQ)</td>
                    </tr>
                    <tr>
                        <td>
                            <p>独生子女标识：</p>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsOnlyChild, "1")是
                            @Html.RadioButtonFor(mdoel => Model.fillBaseInfoModel.IsOnlyChild, "0", new { @checked = true })否
                        </td>
                        <td>
                            <p>困难生级别：</p>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.DiffLevelCode, "0", new { @checked = true })非困难生
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.DiffLevelCode, "1")就业困难
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.DiffLevelCode, "2")家庭困难
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.DiffLevelCode, "3")残疾
                        </td>
                        <td>
                            <p>是否曾转专业：（若曾转系，请填写转系之前的专业）</p>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsChangeMaj, "1")是
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsChangeMaj, "0")否
                            <p>
                                @*@Html.DropDownListFor(model => model.fillBaseInfoModel.BeforeMajor, ViewBag.major as List<SelectListItem>)*@
                            </p>
                    </tr>
                    <tr>
                        <td>
                            <p>生源地是否发生过变动：</p>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsChangeOrigin, "1", new { @checked = true }) 是
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsChangeOrigin, "0") 否
                        </td>
                        <td>
                            <p>家庭困难级别：</p>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.FDiffLevel, "0", new { @checked = true })不贫困
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.FDiffLevel, "1")特困
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.FDiffLevel, "2")贫困
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.FDiffLevel, "3")一般贫困
                        </td>
                        <td>
                            <p>家庭户口所在地类型：</p>
                            @Html.DropDownListFor(model => model.fillBaseInfoModel.ResLocationType, ViewBag.ftype as List<SelectListItem>)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>生源所在地：</p>
                            @Html.TextBoxFor(m => m.fillBaseInfoModel.OriginCity, new { id = "originPro", onkeyup = "GetCity()" })
                            @Html.DropDownListFor(m => m.fillBaseInfoModel.OriginCode, ViewBag.city as List<SelectListItem>, new { id = "originList" })
                        </td>
                        <td>
                            <p>家庭户口所在地：</p>
                            @Html.TextBoxFor(m => m.fillBaseInfoModel.ResLocation, new { id = "familyPro", onkeyup = "GetCityFamily()" })
                            @Html.DropDownListFor(m => m.fillBaseInfoModel.ResLocationCode, ViewBag.familyCityList as List<SelectListItem>, new { id = "familyList" })
                        </td>
                        <td>
                            <p>家庭户口类型：</p>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.ResType, "1") 城市户口
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.ResType, "2") 农村户口
                        </td>
                    </tr>
                    <tr>
                        <td><p>现任职务：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.Post)</td>
                        <td><p>家庭电话：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.FamilyTel)</td>
                        <td><p>其他联系方式：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.OtherTel)</td>
                    </tr>
                    <tr>
                        <td><p>通讯编码：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.CommCode)</td>
                        <td colspan="2" class="input-width">
                            <p>通讯地址：</p>
                            @Html.TextBoxFor(model => model.fillBaseInfoModel.CommAddress)
                        </td>
                    </tr>
                    <tr>
                        <td><p>家庭邮编：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.FamilyZipCode)</td>
                        <td colspan="2" class="input-width">
                            <p>家庭详细地址(具体到门牌号农村的行政村级)：</p>
                            @Html.TextBoxFor(model => model.fillBaseInfoModel.FamilyLocation)
                        </td>
                    </tr>
                    <tr>
                        <td><p>父亲姓名：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.FatherName)</td>
                        <td colspan="2" class="input-width">
                            <p>父亲工作地址：</p>
                            @Html.TextBoxFor(model => model.fillBaseInfoModel.FatherWorkUnit)
                        </td>
                    </tr>
                    <tr>
                        <td><p>母亲姓名：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.MotherName)</td>
                        <td colspan="2" class="input-width">
                            <p>母亲工作地址：</p>
                            @Html.TextBoxFor(model => model.fillBaseInfoModel.MotherWorkUnit)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <p>备注：</p>
                            @Html.TextAreaFor(model => model.fillBaseInfoModel.BaseNote)
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3" align="center">
                            <button class="btn btn-info">提交</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
            </div>
            <footer class="text-right"></footer>
        </div>
    </div>
}