@model Graduation.Models.UploadModel
@{
    Layout = "~/Views/Shared/Guide.cshtml";
}
@if (ViewBag.type == "1")
{
    ViewBag.type = "display:none";
}

@using (@Html.BeginForm())
{
    @Html.HiddenFor(model => model.fillBaseInfoModel.StudentNumber)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
            <h2>求职与就业信息管理系统</h2>
            <div class="right">
                <span>欢迎&nbsp;&nbsp;</span><span class="admin">就业中心管理员：</span><span class="admin">Admin</span><span>&nbsp;&nbsp;登录本系统</span>
            </div>
        </div>
        <div class="templatemo-content-container now-position">
            <div class="panel panel-default table-responsive clear">
                <table class="table table-striped table-bordered templatemo-user-table table-hover .houtai-table">
                    <tr>
                        <td><p>学校名称：</p>华北电力大学(保定)</td>
                        <td><p>院校代码：</p>10079</td>
                        <td><p>院校隶属部门：</p>教育部</td>
                    </tr>
                    <tr>
                        <td><p>院校隶属部门代码：</p>360</td>
                        <td><p>院校所在地：</p>河北省保定市</td>
                        <td><p>院校所在地代码：</p>130600</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p>院、系、专业</p>
                            <select></select>
                            <select></select>
                            <select></select>
                        </td>
                    </tr>
                    <tr>
                        <td><p>学号：</p>@Html.TextBoxFor(model => model.StudentNumber)</td>
                        <td><p>姓名：</p>@Html.TextBoxFor(model => model.Name)</td>
                        <td>
                            <p>性别：</p>
                            @Html.RadioButtonFor(model => model.Sex, "男")男
                            @Html.RadioButtonFor(model => model.Sex, "女")女
                        </td>
                    </tr>
                    <tr>
                        <td><span>出生年月：</span>@Html.TextBoxFor(model => model.BirthTime)</td>
                        <td><span>身份证号：</span>@Html.TextBoxFor(model => model.IDNumber)</td>
                        <td>
                            <span>民族：</span>
                            @*@Html.DropDownListFor(model => model.Nation, ViewBag.N as List<SelectListItem>)*@
                        </td>
                    </tr>
                    <tr>
                        <td><p>校区：</p><input type="text" value="没定义" /></td>
                        <td><p>专业方向：</p>@Html.TextBoxFor(model => model.MajorDirection)</td>
                        <td><p>所在班级：</p>@Html.TextBoxFor(model => model.Class)</td>
                    </tr>
                    <tr>
                        <td><p>所在教学班：</p>@Html.TextBoxFor(model => model.TeachingClass)</td>
                        <td><p>班主任：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.ClassTeacher)</td>
                        <td><p>健康状况：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.Health)</td>
                    </tr>
                    <tr>
                        <td>
                            <span>政治面貌：</span>
                            @Html.DropDownListFor(model => model.fillBaseInfoModel.PoliticalStatus, ViewBag.Political as List<SelectListItem>)
                        </td>
                        <td>
                            <span>宿舍#宿舍号</span>
                            @Html.DropDownListFor(model => model.fillBaseInfoModel.Dormitory, ViewBag.dor as List<SelectListItem>)
                            @Html.TextBoxFor(model => model.fillBaseInfoModel.RoomNumber)
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <span>档案是否转入学校：</span>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsArchivesToSch, "1")是
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsArchivesToSch, "0", new { @checked = true })否
                        </td>
                        <td><span>入学前所在地派出所：</span>@Html.TextBoxFor(model => model.fillBaseInfoModel.PoliceBefore)</td>
                        <td>
                            <span>婚否：</span>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsMargery, "1") 是
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsMargery, "0", new { @checked = true }) 否
                        </td>
                    </tr>
                    <tr>
                        <td><span>手机号：</span>@Html.TextBoxFor(model => model.fillBaseInfoModel.TelNumber)</td>
                        <td><span>email：</span>@Html.TextBoxFor(model => model.fillBaseInfoModel.Email)</td>
                        <td><span>qq号：</span>@Html.TextBoxFor(model => model.fillBaseInfoModel.QQ)</td>
                    </tr>
                    <tr>
                        <td>
                            <p>独生子女标识：</p>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsOnlyChild, "1")是
                            @Html.RadioButtonFor(mdoel => Model.fillBaseInfoModel.IsOnlyChild, "0", new { @checked = true })否
                        </td>
                        <td>
                            <span>困难生级别：</span>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.DiffLevelCode, "0", new { @checked = true })非困难生
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.DiffLevelCode, "1")就业困难
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.DiffLevelCode, "2")家庭困难
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.DiffLevelCode, "3")残疾
                        </td>
                        <td>
                            <p>是否曾转专业：（若曾转系，请填写转系之前的专业）</p>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsChangeMaj, "1")是
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsChangeMaj, "0")否
                            <p>
                                @*@Html.DropDownListFor(model => model.fillBaseInfoModel.BeforeMajor, ViewBag.major as List<SelectListItem>)*@
                            </p>
                    </tr>
                    <tr>
                        <td>
                            <span>生源地是否发生过变动：</span>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsChangeOrigin, "1", new { @checked = true }) 是
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.IsChangeOrigin, "0") 否
                        </td>
                        <td>
                            <p>家庭困难级别：</p>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.FDiffLevel, "0", new { @checked = true })不贫困
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.FDiffLevel, "1")特困
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.FDiffLevel, "2")贫困
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.FDiffLevel, "3")一般贫困
                        </td>
                        <td>
                            <span>家庭户口所在地类型：</span>
                            @Html.DropDownListFor(model => model.fillBaseInfoModel.ResLocationType, ViewBag.type as List<SelectListItem>)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>生源所在地：</p>
                            <select></select>
                            <select></select>
                            <select></select>
                        </td>
                        <td>
                            <p>家庭户口所在地：</p>
                            <select></select>
                            <select></select>
                            <select></select>
                        </td>
                        <td>
                            <span>家庭户口类型：</span>
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.ResType, "1") 城市户口
                            @Html.RadioButtonFor(model => model.fillBaseInfoModel.ResType, "2") 农村户口
                        </td>
                    </tr>
                    <tr>
                        <td><span>现任职务：</span>@Html.TextBoxFor(model => model.fillBaseInfoModel.Post)</td>
                        <td><span>家庭电话：</span>@Html.TextBoxFor(model => model.fillBaseInfoModel.FamilyTel)</td>
                        <td><p>其他联系方式：</p>@Html.TextBoxFor(model => model.fillBaseInfoModel.OtherTel)</td>
                    </tr>
                    <tr>
                        <td><span>通讯编码：</span>@Html.TextBoxFor(model => model.fillBaseInfoModel.CommCode)</td>
                        <td colspan="2">
                            <span>通讯地址：</span>
                            @Html.TextBoxFor(model => model.fillBaseInfoModel.CommAddress)
                        </td>
                    </tr>
                    <tr>
                        <td><span>家庭邮编：</span>@Html.TextBoxFor(model => model.fillBaseInfoModel.FamilyZipCode)</td>
                        <td colspan="2">
                            <span>家庭详细地址(具体到门牌号农村的行政村级)：</span>
                            @Html.TextBoxFor(model => model.fillBaseInfoModel.FamilyLocation)
                        </td>
                    </tr>
                    <tr>
                        <td><span>父亲姓名：</span>@Html.TextBoxFor(model => model.fillBaseInfoModel.FatherName)</td>
                        <td colspan="2">
                            <span>父亲工作地址：</span>
                            @Html.TextBoxFor(model => model.fillBaseInfoModel.FatherWorkUnit)
                        </td>
                    </tr>
                    <tr>
                        <td><span>母亲姓名：</span>@Html.TextBoxFor(model => model.fillBaseInfoModel.MotherName)</td>
                        <td colspan="2">
                            <span>母亲工作地址：</span>
                            @Html.TextBoxFor(model => model.fillBaseInfoModel.MotherWorkUnit)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <p>备注：</p>
                            @Html.TextAreaFor(model => model.fillBaseInfoModel.BaseNote)
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3" align="center">
                            <button class="btn btn-info">提交</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
            </div>
            <footer class="text-right"></footer>
        </div>
    </div>
}