@model Graduation.Models.UserViewModel

@{
    Layout = "~/Views/Shared/Guide.cshtml";
}
@if (ViewBag.type == "1")
{
    ViewBag.type = "display:none";
}

<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-top-nav-container">
        <h2>求职与就业信息管理系统</h2>
        <div class="right">
            <span>欢迎&nbsp;&nbsp;</span><span class="admin">就业中心管理员：</span><span class="admin">Admin</span><span>&nbsp;&nbsp;登录本系统</span>
        </div>
    </div>
    <div class="templatemo-content-container now-position ly-tab">
        <span>当前位置：</span><span>系统用户管理</span>
        <br />
        <h1 class="ly-title">系统用户管理</h1>
        @using (@Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "middle" }))
        {
            @Html.HiddenFor(model => model.user.Id)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                <label for="exampleInputEmail1">用户名：</label>
                @Html.TextBoxFor(model => model.user.UserName, new { type = "text", @class = "form-control", placeholder = "请输入用户名，登陆时的用户名", required = "required" })
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码：</label>
                @Html.TextBoxFor(model => model.user.Pwd, new { type = "text", @class = "form-control", placeholder = "请输如密码，登陆时的密码", required = "required" })
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">用户信息：</label>
                @Html.TextBoxFor(model => model.user.Info, new { type = "text", @class = "form-control", placeholder = "输入用户信息，如经管系管理员、就业中心管理员", required = "required" })
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">管理员身份：</label>
                @Html.DropDownListFor(model => model.user.TypeCode, ViewBag.list as List<SelectListItem>)
            </div>
            <div>
                <label for="exampleInputPassword1">所在院系：</label>
                @Html.DropDownListFor(model => model.user.DepartId, ViewBag.dep as List<SelectListItem>)
            </div>
            <button type="submit" class="btn btn-default">添加或更改管理员</button>
            <br />
            <div style="color:red">@ViewBag.message</div>
        }

        <table class="table table-striped" style="margin-top:20px;">
            <tr>
                <td>用户ID</td>
                <td>用户名</td>
                <td>用户信息</td>
                <td>管理权限</td>
                <td>编辑</td>
                <td>删除</td>
            </tr>
            @foreach (var item in Model.userList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.Info</td>
                    <td>@item.Type</td>
                    <td>@Html.ActionLink("编辑", "AdminUser", new { Id = item.Id })</td>
                    <td>@Html.ActionLink("删除", "AdminUser", new { Id = item.Id, type = item.Id })</td>
                </tr>
            }
        </table>

    </div>
</div>

