@model Graduation.Models.MajorViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>专业名称管理</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <script type="text/javascript">
        $(function () {
            GetDepartM();
            GetDepart();
            $("#Aca").change(function () {
                GetDepart();
                GetAcaM();
            });
            $("#Depart").change(function () {
                GetDepartM();
            });
        });
        function GetDepart() {
            $("#Depart").empty();
            $.getJSON(
            "/Admin/GetDepartList",
            { pid: $("#Aca").val() },
            function (data) {
                $.each(data, function (i, item) {
                    $("<option></option>").val(item["Id"]).text(item["Name"]).appendTo($("#Depart"));

                })
            });
        }
        //只选择院的时候table显示的值
        function GetAcaM() {
            $("#table").empty();
            $("#table").append("<thead><tr><th>专业ID</th><th>专业名称</th><th>专业代码</th><th>学院名称</th><th>系名称</th><th>学历</th><th>删除</th><th>选择</th></tr></thead>");
            $.getJSON(
            "/Admin/GetMajorTbByAc",
            { pid: $("#Aca").val() },
            function (data) {
                $.each(data, function (i, item) {
                    $("#table").append("<tr><td>" + item["Id"] + "</td><td>" + item["Name"] + "</td><td>" + item["Code"] + "</td><td>" + item["AcademyName"] + "</td><td>" + item["DepartmentName"] + "</td><td>" + item["Edu"] + "</td>" + "<td><a href=" + "/Admin/AdminMajor/" + item["Id"] + ">选择</a></td>" + "<td><a href=" + "/Admin/AdminMajor/" + item["Id"] + "?type=1>删除</a></td>");
                })
            });
        }
        //选择系的时候，显示该系下面的专业
        function GetDepartM() {
            $("#table").empty();
            $("#table").append("<thead><tr><th>专业ID</th><th>专业名称</th><th>专业代码</th><th>学院名称</th><th>系名称</th><th>学历</th><th>删除</th><th>选择</th></tr></thead>");
            $.getJSON(
            "/Admin/GetMajorTbBydDe",
            { pid: $("#Depart").val() },
            function (data) {
                $.each(data, function (i, item) {
                    $("#table").append("<tr><td>" + item["Id"] + "</td><td>" + item["Name"] + "</td><td>" + item["Code"] + "</td><td>" + item["AcademyName"] + "</td><td>" + item["DepartmentName"] + "</td><td>" + item["Edu"] + "</td>" + "<td><a href=" + "/Admin/AdminMajor/" + item["Id"] + ">选择</a></td>" + "<td><a href=" + "/Admin/AdminMajor/" + item["Id"] + "?type=1>删除</a></td>");
                })
            });
        }
    </script>
</head>
<body>
    <!-- Left column -->
    <div class="templatemo-flex-row">
        <div class="templatemo-sidebar">
            <header class="templatemo-site-header">
                <h1>华北电力大学</h1>
            </header>
            <div class="profile-photo-container">
                <img src="../../images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
                <div class="profile-photo-overlay"></div>
            </div>
            <div class="mobile-menu-icon">
                <i class="fa fa-bars"></i>
            </div>
            <nav class="templatemo-left-nav">
                <ul class="ly-ul-parent">
                    <li>
                        <a href="#" class="active">
                            <i class="fa fa-home fa-fw"></i>
                            系统设置
                            <i class="fa fa-angle-down fa-fw right"></i>
                        </a>
                        <ul class="ly-ul" style="display:none">
                            <li>
                                <a href="#">
                                    院系及专业名称管理
                                    <i class="fa fa-angle-right fa-fw right"></i>
                                </a>
                                <ul class="ly-ul-child" style="display:none">
                                    <li><a href="index.html">学院名称管理</a></li>
                                    <li><a href="departmentName.html">系名称管理</a></li>
                                    <li><a href="professionalName.html">专业名称管理</a></li>
                                </ul>
                            </li>
                            <li><a href="loginTimeControl.html">登录时间控制</a></li>
                            <li><a href="schoolChange.html">学籍变动管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="user.html">
                            <i class="fa fa-bar-chart fa-fw"></i>
                            系统用户管理
                        </a>
                    </li>
                    <li>
                        <a href="resertPassword.html">
                            <i class="fa fa-database fa-fw"></i>
                            重置密码
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-map-marker fa-fw"></i>
                            通知管理
                            <i class="fa fa-angle-down fa-fw right"></i>
                        </a>
                        <ul class="ly-ul" style="display:none">
                            <li><a href="new.html">发布通知</a></li>
                            <li><a href="newdetail.html">通告公告</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-users fa-fw"></i>
                            生源库导入导出
                            <i class="fa fa-angle-down fa-fw right"></i>
                        </a>
                        <ul class="ly-ul" style="display:none">
                            <li><a href="graduateMess.html">毕业生信息导入</a></li>
                            <li><a href="graduateOut.html">毕业生信息导出</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-sliders fa-fw"></i>
                            毕业生
                            <i class="fa fa-angle-down fa-fw right"></i>
                        </a>
                        <ul class="ly-ul" style="display:none">
                            <li><a href="graduateWork.html">签约登记表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-eject fa-fw"></i>
                            统计管理
                            <i class="fa fa-angle-down fa-fw right"></i>
                        </a>
                        <ul class="ly-ul" style="display:none">
                            <li><a href="employ.html">就业统计</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user-md fa-fw"></i>
                            本专科生/研究生
                            <i class="fa fa-angle-down fa-fw right"></i>
                        </a>
                        <ul class="ly-ul" style="display:none">
                            <li>
                                <a href="#">
                                    基本信息管理
                                    <i class="fa fa-angle-right fa-fw right"></i>
                                </a>
                                <ul class="ly-ul-child" style="display:none">
                                    <li><a href="undergraduateList.html">毕业生列表</a></li>
                                    <li><a href="addUndergraduate.html">院系预增加的生源</a></li>
                                    <li><a href="deleteUndergradute.html">院系预删除的生源</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    求职信息管理
                                    <i class="fa fa-angle-right fa-fw right"></i>
                                </a>
                                <ul class="ly-ul-child" style="display:none">
                                    <li><a href="jobSearchInformationManagement3.html">审核管理</a></li>
                                    <li><a href="jobSearchInformationManagement.html">显示设置</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    就业信息管理
                                    <i class="fa fa-angle-right fa-fw right"></i>
                                </a>
                                <ul class="ly-ul-child" style="display:none">
                                    <li><a href="employmentInformationAudit.html">就业信息审核</a></li>
                                    <li><a href="exportEmploymentInformation.html">就业信息导出</a></li>
                                    <li><a href="count.html">就业统计</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="login.html">
                            安全退出
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Main content -->
        <div class="templatemo-content col-1 light-gray-bg">
            <div class="templatemo-top-nav-container">
                <h2>求职与就业信息管理系统</h2>
                <div class="right">
                    <span>欢迎&nbsp;&nbsp;</span><span class="admin">就业中心管理员：</span><span class="admin">Admin</span><span>&nbsp;&nbsp;登录本系统</span>
                </div>
            </div>
            <div class="templatemo-content-container now-position">
                <span>当前位置：</span><span>系统设置>></span><span>院系名称管理</span><span>专业名称管理</span>
                <h1 class="ly-title">专业名称管理</h1>
                @using (@Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.Major.Id)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-1 control-label">专业名称</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Major.Name, new { @class = "form-control professionNameInput1", placeholder = "专业名称", required = "required " })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-1 control-label">专业代码</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Major.Code, new { @class = "form-control professionNameInput1", placeholder = "专业代码,8位数字", required = "required ", maxlength = "8" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-1 control-label">
                            选择学历
                        </label>
                        <div class="col-sm-5">
                            <div class="radio">
                                <span>@Html.RadioButtonFor(model => model.Major.Edu, "本科",true)<b>本科</b></span>
                                <span>@Html.RadioButtonFor(model => model.Major.Edu, "研究生")<b>研究生</b></span>
                                (必填)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAmount" class="col-sm-1 control-label">选择学院和系：</label>
                        <div class="form-group col-sm-3">
                            @Html.DropDownListFor(model => model.Major.AcademyId, ViewBag.aca as List<SelectListItem>, "=请选择=", new { id = "Aca" })
                        </div>
                        <div class="form-group col-sm-3">
                            @Html.DropDownListFor(model => model.Major.DepartId, ViewBag.dep as List<SelectListItem>,"=请选择=", new { id = "Depart" })
                        </div>
                    </div>
                    <div class="right marginbottom col-sm-4">
                        <button type="submit" class="btn btn-primary">添加或更新</button>
                    </div>
                }
                <div class="panel panel-default table-responsive clear">
                    <table class="table table-striped table-bordered templatemo-user-table table-hover .houtai-table select" id="table">
                        @if (@ViewBag.OpenType != 0)
                        {
                            <thead>
                                <tr>
                                    <th>专业ID</th>
                                    <th>专业名称</th>
                                    <th>专业代码</th>
                                    <th>学院名称</th>
                                    <th>系名称</th>
                                    <th>学历</th>
                                    <th>选择</th>
                                    <th>删除</th>
                                </tr>
                            </thead>
                            if (Model.MajorList != null)
                            {
                                foreach (var item in Model.MajorList)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Code</td>
                                        <td>@item.AcademyName</td>
                                        <td>@item.DepartmentName</td>
                                        <td>@item.Edu</td>
                                        <td>@Html.ActionLink("选择", "AdminMajor", new { Id = item.Id })</td>
                                        <td>@Html.ActionLink("删除", "AdminMajor", new { Id = item.Id, type = 1 })</td>
                                    </tr>
                                }
                            }
                        }

                    </table>
                </div>
                <footer class="text-right"></footer>
            </div>
        </div>
    </div>
</body>
</html>