@model Graduation.Models.DepartmentViewModel
<script type="text/javascript">
    $(function () {
        GetTbale();
        $("#Aca").change(function () {
            GetTbale();
        });
    });
    function GetTbale() {
        $("#table").empty();
        $("#table").append("<thead><tr><th>系ID</th><th>系名称</th><th>系代码</th><th>学院名称</th><th>选择</th><th>删除</th></tr></thead>");
        $.getJSON(
        "/Admin/Gettable",
        { pid: $("#Aca").val() },
        function (data) {
            $.each(data, function (i, item) {
                $("#table").append("<tr><td>" + item["Id"] + "</td><td>" + item["Name"] + "</td><td>" + item["Code"] + "</td><td>" + item["BelongName"] + "</td>" + "<td><a href=" + "/Admin/AdminDepartmet/" + item["Id"] + ">选择</a></td>" + "<td><a href=" + "/Admin/AdminDepartmet/" + item["Id"] + "?type=1>删除</a></td>");
            })
        });
    }

</script>



<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-top-nav-container">
        <h2>求职与就业信息管理系统</h2>
        <div class="right">
            <span>欢迎&nbsp;&nbsp;</span><span class="admin">就业中心管理员：</span><span class="admin">Admin</span><span>&nbsp;&nbsp;登录本系统</span>
        </div>
    </div>
    <div class="templatemo-content-container now-position">
        <span>当前位置：</span><span>系统设置>></span><span>院系名称管理</span><span>系名称管理</span>
        <h1 class="ly-title">系名称管理</h1>
        @using (@Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-inline ly-form" }))
        {
            @Html.HiddenFor(model => model.depart.Id)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="exampleInputAmount">系名称：</label>
                <div class="input-group">
                    @Html.TextBoxFor(model => model.depart.Name, new { @class = "form-control departmentNameInput1", placeholder = "系名称", required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputAmount">系代码：</label>
                <div class="input-group">
                    @Html.TextBoxFor(model => model.depart.Code, new { @class = "form-control departmentNameInput1", placeholder = "系代码", required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputAmount">选择学院：</label>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.depart.BelongId, ViewBag.list as List<SelectListItem>, new { id = "Aca" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary">添加或更新</button>
        }
        <div class="panel panel-default table-responsive clear">
            <table class="table table-striped table-bordered templatemo-user-table table-hover .houtai-table select" id="table">
                @if (@ViewBag.Opentype != 0)
                {
                    <thead>
                        <tr>
                            <th>系ID</th>
                            <th>系名称</th>
                            <th>系代码</th>
                            <th>学院名称</th>
                            <th>选择</th>
                            <th>删除</th>
                        </tr>
                    </thead>
                    if (Model.departList != null)
                    {
                        foreach (var item in Model.departList)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Code</td>
                                <td>@item.BelongName</td>
                                <td>@Html.ActionLink("选择", "AdminDepartmet", new { Id = item.Id })</td>
                                <td>@Html.ActionLink("删除", "AdminDepartmet", new { Id = item.Id, type = 1 })</td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
        <footer class="text-right"></footer>
    </div>
</div>
