@model Graduation.Models.ESchoolInfoViewModel
@{
    Layout = "~/Views/Shared/Guide.cshtml";
}
@if (ViewBag.type == "1")
{
    ViewBag.type = "display:none";
}


<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-top-nav-container">
        <h2>求职与就业信息管理系统</h2>
        <div class="right">
            <span>欢迎&nbsp;&nbsp;</span><span class="admin">就业中心管理员：</span><span class="admin">Admin</span><span>&nbsp;&nbsp;登录本系统</span>
        </div>
    </div>
    <div class="templatemo-content-container now-position ly-tab">
        <!--  <span>当前位置：</span><span>管理员登录>></span><span>本科转生求职与就业管理>></span><span><a href="StudentJobInformation.html">就业签约管理>></a></span><span>无协议书就业</span> -->
        <div class="content">
            <p><b class="warn">1.就业形势：(必选)</b></p>
            @using (@Html.BeginForm())
            {
                @Html.HiddenFor(model => model.eSchoolInfo.StudentNumber)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <p class="a">



                    <ul>
                        <li><a href="/Admin/EmplESchoolExam">@Html.RadioButtonFor(model => model.eSchoolInfo.Employment, "10签学校三方协议就业", new { @class = "eschool" })签学校三方协议就业</a></li>
                        <li><a href="/Admin/EmplESchoolContractExam">@Html.RadioButtonFor(model => model.eSchoolInfo.Employment, "11签合同就业", new { @class = "eschoolContract" })签合同就业</a></li>
                        <li>
                            <label>
                                @Html.RadioButtonFor(model => model.eSchoolInfo.Employment, "12其他录用形式就业", new { @class = "other" })其他录用形式就业
                            </label>
                        </li>
                        <li><a href="/Admin/EmplNotJobExam">@Html.RadioButtonFor(model => model.eSchoolInfo.Employment, "70暂未就业", new { @class = "notjob" })暂未就业 </a></li>
                    </ul>

                    @Html.HiddenFor(model => model.eSchoolInfo.Employment, new { @class = "xianshi" })

                </p>

                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align:center">个人信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>学号：</p><span>@Html.ValueFor(model => model.upload.StudentNumber)</span></td>
                            <td><p>姓名：</p><span>@Html.ValueFor(model => model.upload.Name)</span></td>
                            <td><p>性别：</p><span>@Html.ValueFor(model => model.upload.Sex)</span></td>
                            <td><p>出生年月：</p><span>@Html.ValueFor(model => model.upload.BirthTime)</span></td>
                        </tr>
                        <tr>
                            <td><p>政治面貌：</p><span>@ViewBag.P</span></td>
                            <td><p>专业：</p><span>@Html.ValueFor(model => model.upload.Major)</span></td>
                            <td><p>培养方式：</p><span>@Html.ValueFor(model => model.upload.TrainType)</span></td>
                            <td><p>学历：</p><span>@Html.ValueFor(model => model.upload.Education)</span></td>
                        </tr>
                        <tr>
                            <td>
                                <p>学制：</p><span>@Html.ValueFor(model => model.upload.LengthOfSch)</span>
                            </td>
                            <td>
                                <p>毕业时间：</p><span>@Html.ValueFor(model => model.upload.GraduationTime)</span>
                            </td>
                            <td>
                                <p>生源地区：</p><span>@ViewBag.L</span>
                            </td>
                            <td>
                                <p>身份证号：</p><span>@Html.ValueFor(model => model.upload.IDNumber)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>健康状况：</p><span>@ViewBag.H</span>
                            </td>
                            <td>
                                <p>手机号码：</p><span>@ViewBag.T</span>
                            </td>
                            <td>
                                <p>邮政编码：</p><span>@ViewBag.C</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span>通信地址：</span><span>@ViewBag.ADDR</span>
                            </td>
                            <td colspan="2">
                                <span>家庭所在地</span><span>@ViewBag.FL</span>
                            </td>

                        </tr>
                    </tbody>
                </table>

                <table class="table table5">
                    <tr>
                        <td>是否通过审核</td>
                        <td colspan="3">
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsChecked, "是")是
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsChecked, "否")否
                        </td>
                    </tr>
                    <tr>
                        <td>是否锁定</td>
                        <td colspan="3">
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsClock, "锁定")锁定
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsClock, "可编辑")可编辑
                        </td>
                    </tr>
                    <tr>
                        <td>就业状态</td>
                        <td colspan="3">
                           
                            @Html.RadioButtonFor(model=>model.eSchoolInfo.IsJiuYe,"是")是
                            @Html.RadioButtonFor(model=>model.eSchoolInfo.IsJiuYe,"否")否
                        </td>
                    </tr>

                    <!-- <tr>
                        <td colspan="4"><button class="btn">编辑</button></td>
                    </tr> -->
                </table>
            }
        </div>

        <footer class="text-right"></footer>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        if ($(".xianshi").val() == "10签学校三方协议就业") {
            $(".eschool").attr("checked", true)
        }
        else if ($(".xianshi").val() == "11签合同就业") {
            $(".eschoolContract").attr("checked", true)
        }
        else if ($(".xianshi").val() == "70暂未就业") {
            $(".notjob").attr("checked", true)
        }
        else { $(".other").attr("checked", true) }
        $(".other").click(function () {
            if ($(".xianshi").val() == "46应征入伍") {
                window.location.href = "/Admin/EmplArmyExam";
            }
            else if ($(".xianshi").val() == "75自主创业") {
                window.location.href = "/Admin/EmplSelfExam/";
            }
            else if ($(".xianshi").val() == "76灵活就业") {
                window.location.href = "/Admin/EmplFlexibleExam";
            }
            else if ($(".xianshi").val() == "80升学") {
                window.location.href = "/Admin/EmplUpSchExam";
            }
            else if ($(".xianshi").val() == "85出国") {
                window.location.href = "/Admin/EmplAbroadExam";
            }
            else if ($(".xianshi").val() == "50国家基层项目") {
                window.location.href = "/Admin/EmplCountry";
            }
            else if ($(".xianshi").val() == "27科研助理") {
                window.location.href = "/Admin/EmplScience";
            }
            else if ($(".xianshi").val() == "51地方基层项目") {
                window.location.href = "/Admin/EmplPlace";
            }
            else { window.location.href = "/Admin/EmplArmyExam"; }
        })
    })

</script>