@model Graduation.Models.ApplInfoViewModel

@if (ViewBag.studentType == "0" || ViewBag.numberCount == 12)
{
    ViewBag.studentType = "hidden";
}
else
{
    ViewBag.numberCount = "hidden";
}
@{
    Layout = "~/Views/Shared/Guide.cshtml";
}
@if (ViewBag.type == "1")
{
    ViewBag.type = "display:none";
}

<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-top-nav-container">
        <h2>求职与就业信息管理系统</h2>
        <div class="right">
            <span>欢迎&nbsp;&nbsp;</span><span class="admin">就业中心管理员：</span><span class="admin">Admin</span><span>&nbsp;&nbsp;登录本系统</span>
        </div>
    </div>
    <div class="templatemo-content-container now-position ly-tab">
        <!--  <span>当前位置：</span><span>管理员登录>></span><span>本科转生求职与就业管理>></span><span><a href="StudentJobInformation.html">就业签约管理>></a></span><span>无协议书就业</span> -->
        <div class="content">
            @using (@Html.BeginForm("EditApplExam", "Admin", FormMethod.Post))
            {
        @Html.HiddenFor(model => model.applInfo.StudentNumber)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        

                    <table class="informationTable table">
                        <thead>
                            <tr>
                                <td colspan="8" style="text-align:center">
                                    <b>
                                        华北电力大学本专科毕业生求职信息（推荐表）
                                    </b>
                                </td>
                            </tr>
                        </thead>
                        <tr>
                            <td rowspan="2" style="width:10px; border-right:1px solid black">毕业生信息</td>
                            <td><span>姓名：</span><span>@Html.ValueFor(model => model.upload.Name)</span></td>
                            <td><span>学号：</span><span>@Html.ValueFor(model => model.upload.StudentNumber)</span></td>
                            <td><sapn>出生年月日：</sapn><span>@Html.ValueFor(model => model.upload.BirthTime)</span></td>
                            <td>
                                <sapn>政治面貌：</sapn>
                                @ViewBag.P
                            </td>
                            <td>
                                <sapn>健康状况：</sapn>@ViewBag.H
                            </td>
                            <td>
                                <sapn>邮政编码</sapn>@ViewBag.E
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <sapn>通讯地址：</sapn>@ViewBag.CA
                            </td>
                            <td colspan="2">
                                <sapn>现家庭居住地：</sapn>@ViewBag.F
                            </td>
                            <td>
                                <sapn>Email：</sapn>@ViewBag.E
                            </td>
                            <td>
                                <sapn>联系电话：</sapn>@ViewBag.T
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="9" style="width:10px; border-right:1px solid black">教育背景</td>
                            <td colspan="2">
                                <sapn>专业：</sapn><span>@Html.ValueFor(model => model.upload.MajorDirection)</span>
                            </td>
                            <td>
                                <sapn>学历：</sapn><span>@Html.ValueFor(model => model.upload.Education)</span>
                            </td>
                            <td>
                                <sapn>培养方式：</sapn><span>@Html.ValueFor(model => model.upload.TrainType)</span>
                            </td>
                            <td>
                                <sapn>毕业时间：</sapn><span>@Html.ValueFor(model => model.upload.GraduationTime)</span>
                            </td>
                            <td>
                                <sapn>成绩班级名次</sapn>
                                @Html.TextBoxFor(model => model.applInfo.Rank)
                            </td>
                        </tr>
                        <tr style="text-align:center">
                            <td><b>教育背景</b></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>第一年度获奖（评优，荣誉，奖学金）</p>
                                @Html.TextAreaFor(model => model.applInfo.FristYearPrize)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>第二年度获奖（评优，荣誉，奖学金）</p>
                                @Html.TextAreaFor(model => model.applInfo.SecondYearPrize)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>第三年度获奖（评优，荣誉，奖学金）</p>
                                @Html.TextAreaFor(model => model.applInfo.ThirdYearPrize)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>2.竞赛获奖情况：</p>
                                @Html.TextAreaFor(model => model.applInfo.CompetitionPrize)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>3.其他获奖情况：</p>
                                @Html.TextAreaFor(model => model.applInfo.OtherPrize)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>4.发表论文和学术成果：</p>
                                @Html.TextAreaFor(model => model.applInfo.PublishPaper)
                            </td>
                        </tr>
                    </table>
                    @*本科生能力特长*@
                    <table class="informationTable table" @ViewBag.numberCount>
                        <tr style="text-align:center">
                            <td><b>能力特长</b></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>外语语种：英语通过级别：</p>
                                @Html.DropDownListFor(model => model.applInfo.EnglishLevel, ViewBag.english as List<SelectListItem>
                                    )
                                <p>四级成绩：</p>@Html.TextBoxFor(model => model.applInfo.LevelFour)
                                <p>六级成绩：</p>@Html.TextBoxFor(model => model.applInfo.LevelSix)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>计算机级别：</p>@Html.TextBoxFor(model => model.applInfo.ComputerLevel)
                            </td>
                        </tr>
                    </table>
                    @*研究生能力特长*@
                    <table class="informationTable table" @ViewBag.studentType>
                        <tr style="text-align:center">
                            <td><b>能力特长</b></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                1.主修外语注：非英英语专业填写"CET-4","CET-6";英语专业填写"TEM-4","TEM-8","无",其他语种毕业生填写“——”
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                语种：语言考试分数：@Html.TextBoxFor(model => model.applInfo.LanguageScore)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span>计算机水平：</span>@Html.TextAreaFor(model => model.applInfo.ComputerLevel)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span>特长能力：</span>@Html.TextAreaFor(model => model.applInfo.SpecialtyAbilty)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span>社会工作：</span>@Html.TextAreaFor(model => model.applInfo.SocietyJob)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span>实践活动：</span>@Html.TextAreaFor(model => model.applInfo.PracticeActivity)
                            </td>
                        </tr>
                    </table>


                    <table class="informationTable table">
                        <tr style="text-align:center">
                            <td><b>求职备注</b></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                @Html.TextAreaFor(model => model.applInfo.ApplNote)
                            </td>
                        </tr>                       
                    </table>

                    @*本科生*@
                    <table class="informationTable table" @ViewBag.numberCount>
                        <tr style="text-align:center">
                            <td colspan="4">
                                <b>综合评测档次</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>院系鉴定意见：注：学生不能编辑，此项由院系给出</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:130px">
                                <span>1.业务素质</span>
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.applInfo.StudyTest, "0") 优
                                @Html.RadioButtonFor(model => model.applInfo.StudyTest, "1") 良
                                @Html.RadioButtonFor(model => model.applInfo.StudyTest, "2") 中
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <span>2.思想道德素质表现</span>
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.applInfo.MoralTest, "0") 优
                                @Html.RadioButtonFor(model => model.applInfo.MoralTest, "1") 良
                                @Html.RadioButtonFor(model => model.applInfo.MoralTest, "2") 中
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <span>3.科技创新能力</span>
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.applInfo.ScienceTest, "0") 优
                                @Html.RadioButtonFor(model => model.applInfo.ScienceTest, "1") 良
                                @Html.RadioButtonFor(model => model.applInfo.ScienceTest, "2") 中
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <span>4.社会活动能力</span>
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.applInfo.ActTest, "0") 优
                                @Html.RadioButtonFor(model => model.applInfo.ActTest, "1") 良
                                @Html.RadioButtonFor(model => model.applInfo.ActTest, "2") 中
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <span>5.文化素质</span>
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.applInfo.CultureTest, "0") 优
                                @Html.RadioButtonFor(model => model.applInfo.CultureTest, "1") 良
                                @Html.RadioButtonFor(model => model.applInfo.CultureTest, "2") 中
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <span>6.身心素质</span>
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.applInfo.HealthTest, "0") 优
                                @Html.RadioButtonFor(model => model.applInfo.HealthTest, "1") 良
                                @Html.RadioButtonFor(model => model.applInfo.HealthTest, "2") 中
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span>综合测评结果：</span>
                                @Html.RadioButtonFor(model => model.applInfo.TotalTest, "0") 优
                                @Html.RadioButtonFor(model => model.applInfo.TotalTest, "1") 良
                                @Html.RadioButtonFor(model => model.applInfo.TotalTest, "2") 中
                            </td>
                        </tr>
                    </table>

                    <table class="informationTable table" @ViewBag.studentType>
                        <tr style="text-align:center">
                            <td><b>学校推荐意见</b></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span>院系鉴定意见： 注：学生不能编辑，该项由院系给出</span>@Html.TextAreaFor(model => model.applInfo.AcademicOpinion)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <span>导师意见:注：学生不能编辑，该项由导师给出</span>@Html.TextAreaFor(model => model.applInfo.TutorOpinion)
                            </td>
                        </tr>
                    </table>
            <tr>
                <td rowspan="3" style="width:10px; border-right:1px solid black">设置</td>
                <td colspan="6">
                    <span>是否通过审核</span>
                    @Html.RadioButtonFor(model=>model.applInfo.IsQiuChecked,"是")是
                    @Html.RadioButtonFor(model=>model.applInfo.IsQiuChecked,"否")否
                </td>
            </tr>

            <tr>
                <td colspan="6">
                    <span>是否锁定</span>
                    @Html.RadioButtonFor(model=>model.applInfo.IsClocked,"锁定")锁定
                    @Html.RadioButtonFor(model=>model.applInfo.IsClocked,"可编辑")可编辑
                    <p>锁定后学生将不可以编辑以上的信息</p>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <button class="btn btn-info">提交</button>
                    <span>提交了“提交测评”之外的所有修改</span>
                    <a href="#">返回上一页</a>
                </td>
            </tr>        
            }
        </div>

        <footer class="text-right"></footer>
    </div>

</div>
