@model Graduation.Models.ESchoolInfoViewModel

@{
    Layout = "~/Views/Shared/Guide.cshtml";
}
@if (ViewBag.type == "1")
{
    ViewBag.type = "display:none";
}

<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-top-nav-container">
        <h2>求职与就业信息管理系统</h2>
        <div class="right">
            <span>欢迎&nbsp;&nbsp;</span><span class="admin">就业中心管理员：</span><span class="admin">Admin</span><span>&nbsp;&nbsp;登录本系统</span>
        </div>
    </div>
    <div class="templatemo-content-container now-position ly-tab">
        <!--  <span>当前位置：</span><span>管理员登录>></span><span>本科转生求职与就业管理>></span><span><a href="StudentJobInformation.html">就业签约管理>></a></span><span>无协议书就业</span> -->
        <div class="content">
            <p><b class="warn">1.就业形势：(必选)</b></p>
            @using (@Html.BeginForm())
            {
                @Html.HiddenFor(model => model.eSchoolInfo.StudentNumber)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <p class="a">


                    <a href="/Admin/EmplESchoolExam">@Html.RadioButtonFor(model => model.eSchoolInfo.Employment, "有协议就业/合同就业", new { @checked = true }) 有协议就业/合同就业</a>
                    <a href="/Admin/EmplArmyExam">@Html.RadioButtonFor(model => model.eSchoolInfo.Employment, "其他形式就业") 其他形式就业</a>
                    <a href="/Admin/EmplNotJobExam">@Html.RadioButtonFor(model => model.eSchoolInfo.Employment, "暂未就业") 暂未就业</a>


                </p>

                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align:center">个人信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>学号：</span><span>@Html.ValueFor(model => model.upload.StudentNumber)</span></td>
                            <td><span>姓名：</span><span>@Html.ValueFor(model => model.upload.Name)</span></td>
                            <td><span>性别：</span><span>@Html.ValueFor(model => model.upload.Sex)</span></td>
                            <td><span>出生年月：</span><span>@Html.ValueFor(model => model.upload.BirthTime)</span></td>
                        </tr>
                        <tr>
                            <td><span>政治面貌：</span><span>@ViewBag.P</span></td>
                            <td><span>专业：</span><span>@Html.ValueFor(model => model.upload.Major)</span></td>
                            <td><span>培养方式：</span><span>@Html.ValueFor(model => model.upload.TrainType)</span></td>
                            <td><span>学历：</span><span>@Html.ValueFor(model => model.upload.Education)</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span>学制：</span><span>@Html.ValueFor(model => model.upload.LengthOfSch)</span>
                            </td>
                            <td>
                                <span>毕业时间：</span><span>@Html.ValueFor(model => model.upload.GraduationTime)</span>
                            </td>
                            <td>
                                <span>生源地区：</span><span>@ViewBag.L</span>
                            </td>
                            <td>
                                <span>身份证号：</span><span>@Html.ValueFor(model => model.upload.IDNumber)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>健康状况：</span><span>@ViewBag.H</span>
                            </td>
                            <td>
                                <span>手机号码：</span><span>@ViewBag.T</span>
                            </td>
                            <td>
                                <span>邮政编码：</span><span>@ViewBag.C</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span>通信地址：</span><span>@ViewBag.ADDR</span>
                            </td>
                            <td colspan="2">
                                <span>家庭所在地</span><span>@ViewBag.FL</span>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <table class="table table1">
                    <tr>
                        <td colspan="4"><span>协议书编号：</span>@Html.TextBoxFor(model => model.eSchoolInfo.AgreementID)*唯一</td>
                    </tr>
                    <tr>
                        <td>
                            <p>单位名称：</p>
                            @Html.TextBoxFor(model => model.eSchoolInfo.CompanyName)
                        </td>
                        <td>
                            <p>单位所属集团或系统</p>
                            @Html.DropDownListFor(model => model.eSchoolInfo.ComBelongGroup, ViewBag.Group as List<SelectListItem>)
                        </td>
                        <td>
                            <p>单位组织机构代码</p>
                            <p class="warn">(9位数字或字母不含‘-’)</p>
                            @Html.TextBoxFor(model => model.eSchoolInfo.CompanyCode)
                        </td>
                        <td>
                            <p>单位上级隶属部门</p>
                           @Html.DropDownListFor(model=>model.eSchoolInfo.ComBelongDep,ViewBag.belong as List<SelectListItem>)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>单位行业</p>
                            @Html.DropDownListFor(model => model.eSchoolInfo.ComIndustry, ViewBag.hangye as List<SelectListItem>)
                        </td>
                        <td>
                            <p>工作职务</p>
                            @Html.DropDownListFor(model => model.eSchoolInfo.JobTitle, ViewBag.zhiwei as List<SelectListItem>)
                        </td>
                        <td colspan="2">
                            <p>《就业报到证》开具单位名称</p>
                            @Html.TextBoxFor(model => model.eSchoolInfo.SCompanyName)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>单位所在地</p>
                            <select class="province"></select>
                            <select class="city"></select>
                            <select class="country"></select>
                        </td>
                        <td colspan="2">
                            <span>单位性质：</span>
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "10机关")机关
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "20科研设计单位")科研设计单位
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "21高等教育单位")高等教育单位
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "22中初教育单位")中初教育单位
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "23医疗卫生单位")医疗卫生单位
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "29其他事业单位")其他事业单位
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "31国有企业")国有企业
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "32三资企业")三资企业
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "39其他企业")其他企业
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "40部队")部队
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "55农村建设")农村建设
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "56城镇社区")城镇社区
                            @Html.RadioButtonFor(model => model.eSchoolInfo.ComType, "99其他")其他
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>联系人：</span>@Html.TextBoxFor(model => model.eSchoolInfo.Contacts)
                        </td>
                        <td>
                            <span>联系人邮编(6位数字)：</span>@Html.TextBoxFor(model => model.eSchoolInfo.ContactsCode)
                        </td>
                        <td colspan="2">
                            <span>联系人通信地址：</span>@Html.TextBoxFor(model => model.eSchoolInfo.ConCommAddress)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>联系人职务：</span>@Html.TextBoxFor(model => model.eSchoolInfo.ConPost)
                        </td>
                        <td>
                            <span>联系人电话：</span>@Html.TextBoxFor(model => model.eSchoolInfo.ConTel)
                        </td>
                        <td colspan="2">
                            <span>户口迁移地址：</span>@Html.TextBoxFor(model => model.eSchoolInfo.ResChangedAdd)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span>档案转寄详细地址：</span>@Html.TextBoxFor(model => model.eSchoolInfo.FileChangedAdd)
                        </td>
                        <td>
                            <span>邮政编码(6位数字)：</span>@Html.TextBoxFor(model => model.eSchoolInfo.FileZipCode)
                        </td>
                        <td>
                            <span>是否专业对口：</span>
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsMajorFit, "1") 是
                            @Html.RadioButtonFor(mdoel => mdoel.eSchoolInfo.IsMajorFit, "0") 否
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <p>备注：</p>
                            @Html.TextAreaFor(model => model.eSchoolInfo.Note)
                        </td>
                    </tr>

                </table>

                <table class="table table5">
                    <tr>
                        <td>是否通过审核</td>
                        <td colspan="3">
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsChecked, "是")是
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsChecked, "否")否
                        </td>
                    </tr>
                    <tr>
                        <td>是否锁定</td>
                        <td colspan="3">
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsClock, "锁定")锁定
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsClock, "可编辑")可编辑
                        </td>
                    </tr>
                    <tr>
                        <td>就业状态</td>
                        <td colspan="3">

                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsJiuYe, "是")是
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsJiuYe, "否")否
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input type="submit" value="提交" class="btn btn-info" />
                        </td>
                    </tr>
                </table>
            }
        </div>


        <footer class="text-right"></footer>
    </div>
</div>