@model Graduation.Models.ESchoolInfoViewModel

@{
    Layout = "~/Views/Shared/Guide.cshtml";
}
@if (ViewBag.type == "1")
{
    ViewBag.type = "display:none";
}
<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-top-nav-container">
        <h2>求职与就业信息管理系统</h2>
        <div class="right">
            <span>欢迎&nbsp;&nbsp;</span><span class="admin">就业中心管理员：</span><span class="admin">Admin</span><span>&nbsp;&nbsp;登录本系统</span>
        </div>
    </div>
    <div class="templatemo-content-container now-position ly-tab">
        <!--  <span>当前位置：</span><span>管理员登录>></span><span>本科转生求职与就业管理>></span><span><a href="StudentJobInformation.html">就业签约管理>></a></span><span>无协议书就业</span> -->
        <div class="content">
            <p><b class="warn">1.就业形势：(必选)</b></p>
            @using (@Html.BeginForm())
            {
                @Html.HiddenFor(model => model.eSchoolInfo.StudentNumber)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
              
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align:center">个人信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>学号：</p><span>@Html.ValueFor(model => model.upload.StudentNumber)</span></td>
                            <td><p>姓名：</p><span>@Html.ValueFor(model => model.upload.Name)</span></td>
                            <td><p>性别：</p><span>@Html.ValueFor(model => model.upload.Sex)</span></td>
                            <td><p>出生年月：</p><span>@Html.ValueFor(model => model.upload.BirthTime)</span></td>
                        </tr>
                        <tr>
                            <td><p>政治面貌：</p><span>@ViewBag.P</span></td>
                            <td><p>专业：</p><span>@Html.ValueFor(model => model.upload.Major)</span></td>
                            <td><p>培养方式：</p><span>@Html.ValueFor(model => model.upload.TrainType)</span></td>
                            <td><p>学历：</p><span>@Html.ValueFor(model => model.upload.Education)</span></td>
                        </tr>
                        <tr>
                            <td>
                                <p>学制：</p><span>@Html.ValueFor(model => model.upload.LengthOfSch)</span>
                            </td>
                            <td>
                                <p>毕业时间：</p><span>@Html.ValueFor(model => model.upload.GraduationTime)</span>
                            </td>
                            <td>
                                <p>生源地区：</p><span>@ViewBag.L</span>
                            </td>
                            <td>
                                <p>身份证号：</p><span>@Html.ValueFor(model => model.upload.IDNumber)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>健康状况：</p><span>@ViewBag.H</span>
                            </td>
                            <td>
                                <p>手机号码：</p><span>@ViewBag.T</span>
                            </td>
                            <td>
                                <p>邮政编码：</p><span>@ViewBag.C</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p>通信地址：</p><span>@ViewBag.ADDR</span>
                            </td>
                            <td colspan="2">
                                <p>家庭所在地</p><span>@ViewBag.FL</span>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <table class="table table1">
                    <tr>
                        <td colspan="3" style="text-align:center"><span><b>就业去向</b></span></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <span>就业形式：</span>
                            @Html.RadioButtonFor(model => model.eSchoolInfo.JobDiff, "1就业困难", new { @class = "radio1 aa", @checked = true })就业困难
                            @Html.RadioButtonFor(model => model.eSchoolInfo.JobDiff, "2继续考公务员", new { @class = "radio aa", @checked = true })继续考公务员
                            @Html.RadioButtonFor(model => model.eSchoolInfo.JobDiff, "3继续考研", new { @class = "radio aa", @checked = true })继续考研
                            @Html.RadioButtonFor(model => model.eSchoolInfo.JobDiff, "4其他", new { @class = "radio2 aa", @checked = true })其他
                            @Html.TextBoxFor(model => model.eSchoolInfo.JobDiff, new { @class = "liyu", style = "display:none" })
                        </td>
                    </tr>
                    <tr class="hide1">
                        <td colspan="3">
                            <span>困难原因</span>
                            @Html.TextBoxFor(model => model.eSchoolInfo.JobDiffCause, new { style = "width:70%" })
                        </td>
                    </tr>
                    <tr class="hide2" style="display:none">
                        <td colspan="3">
                            <span>备注</span>
                            @Html.TextBoxFor(model => model.eSchoolInfo.Note, new { style = "width:70%" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>档案转寄地址：</p>@Html.TextBoxFor(model => model.eSchoolInfo.FileChangedAdd)
                        </td>
                        <td>
                            <p>档案转寄邮编：</p>@Html.TextBoxFor(model => model.eSchoolInfo.FileZipCode)
                        </td>
                        <td>
                            <p>户口迁移地址：</p>@Html.TextBoxFor(model => model.eSchoolInfo.ResChangedAdd)
                        </td>
                    </tr>

                </table>

                <table class="table table5">
                    <tr>
                        <td>是否通过审核</td>
                        <td colspan="3">
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsChecked, "是")是
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsChecked, "否")否
                        </td>
                    </tr>
                    <tr>
                        <td>是否锁定</td>
                        <td colspan="3">
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsClock, "锁定")锁定
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsClock, "可编辑")可编辑
                        </td>
                    </tr>
                    <tr>
                        <td>就业状态</td>
                        <td colspan="3">

                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsJiuYe, "是")是
                            @Html.RadioButtonFor(model => model.eSchoolInfo.IsJiuYe, "否")否
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input type="submit" value="提交" class="btn btn-info" />
                        </td>
                    </tr>
                </table>
            }
        </div>


        <footer class="text-right"></footer>
    </div>
</div>
 
<script type="text/javascript">
    $(function () {
        $(".radio1").click(function () {
            $('.hide2').hide();
            $(".hide1").show();
        })
        $(".radio2").click(function () {
            $('.hide1').hide();
            $(".hide2").show();
        })
        $(".radio").click(function () {
            $('.hide1').hide();
            $(".hide2").hide();
        })

        if ($(".liyu").val() == "4其他") {
            $('.hide1').hide();
            $(".hide2").show();
        } else if ($(".liyu").val() == "1就业困难") {
            $('.hide2').hide();
            $(".hide1").show();
        } else {
            $('.hide1').hide();
            $(".hide2").hide();
        }
    })
</script>

