@model Graduation.Models.AddNumberModel
@{
    Layout = "~/Views/Shared/Guide.cshtml";
}
@if (ViewBag.type == "1")
{
    ViewBag.type = "display:none";
}

<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-top-nav-container">
        <h2>求职与就业信息管理系统</h2>
        <div class="right">
            <span>欢迎&nbsp;&nbsp;</span><span class="admin">就业中心管理员：</span><span class="admin">Admin</span><span>&nbsp;&nbsp;登录本系统</span>
        </div>
    </div>
    <div class="templatemo-content-container now-position">
        <span>当前位置：</span><span>就业统计</span>
        <h1 class="ly-title">就业统计</h1>
        <p style="text-align:center">本科生</p>
@using (@Html.BeginForm())
{
        <div class="panel panel-default table-responsive clear" style="overflow:scroll; min-height:200px">
                <table class="table table-striped col">
                    <tr>
                        <td>学院</td>
                        <td>系</td>
                        <td>专业名称</td>
                        <td>总人数</td>
                    </tr>
                    @{
                        int i=0;
                        foreach (var aca in @Model.acaList)
                        {
                            foreach (var dep in @Model.depList.Where(m => m.BelongId == aca.Id))
                            {
                                string depId = dep.Id.ToString();
                                foreach (var major in @Model.BmajorList.Where(m => m.DepartId == depId))
                                {
                                    @Html.HiddenFor(m=>m.BnumberList[i].belongId)
                                    @Html.HiddenFor(m=>m.BnumberList[i].id)
                                    @Html.HiddenFor(m => m.BnumberList[i].name)
                                    <tr>
                                    <td>@aca.Name</td>
                                    <td>@dep.Name</td>
                                    <td>@major.Name</td>
                                    <td>@Html.TextBoxFor(m => m.BnumberList[i].number)</td>
                                    </tr>
                                    i++;
                                }
                                <tr>
                                    <td>@Html.HiddenFor(m=>m.BnumberList[i].belongId)</td>
                                    <td>@Html.HiddenFor(m => m.BnumberList[i].id)</td>
                                    <td>@Html.HiddenFor(m => m.BnumberList[i].name)</td>
                                    <td>@Html.HiddenFor(m => m.BnumberList[i].number)</td>
                                </tr>
                                    i++;
                            }
                        }
                    }
                </table>
        </div>
    <button class="btn btn-warning" type="submit" name="tijiao" value="benke">提交</button>
    <button class="btn btn-warning" type="submit" name="tijiao" value="Bchongzhi">重置</button>
}
        <p style="text-align:center">本科生</p>
        <div class="panel panel-default table-responsive clear" style="overflow:scroll; height:400px">
            <table class="table table-striped" style="width:2400px">

                <tr>
                    <td>学院</td>
                    <td>系</td>
                    <td>专业名称</td>
                    <td>总人数</td>
                    <td>签约人数</td>
                    <td>签约率</td>
                    <td>保研人数</td>
                    <td>保研率</td>
                    <td>签约+保研</td>
                    <td>比例</td>
                    <td>考研上线人数</td>
                    <td>比例</td>
                    <td>意向人数</td>
                    <td>比例</td>
                    <td>其他就业/出国+公务员+选调生等</td>
                    <td>比例</td>
                    <td>签约+保研+升学+其他+意向</td>
                    <td>比例</td>
                    <td>剩余人数</td>
                    <td>剩余比例</td>
                </tr>
                @{
    int a = 0;
    foreach (var aca in @Model.acaList)
    {
        foreach (var dep in @Model.depList.Where(m => m.BelongId == aca.Id))
        {
            string depId = dep.Id.ToString();
            foreach (var major in @Model.BmajorList.Where(m => m.DepartId == depId))
            {
                @Html.HiddenFor(m => m.BnumberList[a].id)
                @Html.HiddenFor(m => m.BnumberList[a].name)
                <tr>
                    <td>@aca.Name</td>
                    <td>@dep.Name</td>
                    <td>@major.Name</td>
                    <td>@Model.BnumberList[a].number</td>
                    <td>@Model.BnumberList[a].signNumber</td>
                    <td>@Model.BnumberList[a].signP</td>
                    <td>@Model.BnumberList[a].baoyan</td>
                    <td>@Model.BnumberList[a].baoyanP</td>
                    <td>@Model.BnumberList[a].signAbaoyan</td>
                    <td>@Model.BnumberList[a].signAbaoyanP</td>
                    <td>@Model.BnumberList[a].kaoyan</td>
                    <td>@Model.BnumberList[a].kanyanP</td>
                    <td>@Model.BnumberList[a].yixiang</td>
                    <td>@Model.BnumberList[a].yixiangP</td>
                    <td>@Model.BnumberList[a].qita</td>
                    <td>@Model.BnumberList[a].qitaP</td>
                    <td>@Model.BnumberList[a].zonghe</td>
                    <td>@Model.BnumberList[a].zongheP</td>
                    <td>@Model.BnumberList[a].shengyu</td>
                    <td>@Model.BnumberList[a].shengyuP</td>
                </tr>
                a++;
            }
                <tr>
                    <td colspan="3">合计</td>
                    <td>@Model.BnumberList[a].number</td>
                    <td>@Model.BnumberList[a].signNumber</td>
                    <td>@Model.BnumberList[a].signP</td>
                    <td>@Model.BnumberList[a].baoyan</td>
                    <td>@Model.BnumberList[a].baoyanP</td>
                    <td>@Model.BnumberList[a].signAbaoyan</td>
                    <td>@Model.BnumberList[a].signAbaoyanP</td>
                    <td>@Model.BnumberList[a].kaoyan</td>
                    <td>@Model.BnumberList[a].kanyanP</td>
                    <td>@Model.BnumberList[a].yixiang</td>
                    <td>@Model.BnumberList[a].yixiangP</td>
                    <td>@Model.BnumberList[a].qita</td>
                    <td>@Model.BnumberList[a].qitaP</td>
                    <td>@Model.BnumberList[a].zonghe</td>
                    <td>@Model.BnumberList[a].zongheP</td>
                    <td>@Model.BnumberList[a].shengyu</td>
                    <td>@Model.BnumberList[a].shengyuP</td>
                </tr>
            a++;
        }
    }
}
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>

        <p style="text-align:center">研究生</p>
@using (@Html.BeginForm())
{
        <div class="panel panel-default table-responsive clear col" style="overflow:scroll; min-height:200px">
            <table class="table table-striped">

                <tr>
                    <td>学院</td>
                    <td>系</td>
                    <td>专业名称</td>
                    <td>总人数</td>

                </tr>
                @{
    int j = 0;
    foreach (var aca in @Model.acaList)
    {
        foreach (var dep in @Model.depList.Where(m => m.BelongId == aca.Id))
        {
            string depId = dep.Id.ToString();
            foreach (var major in @Model.YmajorList.Where(m => m.DepartId == depId))
            {
                @Html.HiddenFor(m=>m.YnumberList[j].belongId)
                @Html.HiddenFor(m=>m.YnumberList[j].id)
                @Html.HiddenFor(m => m.YnumberList[j].name)
                <tr>
                <td>@aca.Name</td>
                <td>@dep.Name</td>
                <td>@major.Name</td>
                <td>@Html.TextBoxFor(m => m.YnumberList[j].number)</td>
                </tr>
                j++;
            }
            <tr>
            <td>@Html.HiddenFor(m => m.YnumberList[j].belongId)</td>
            <td>@Html.HiddenFor(m => m.YnumberList[j].id)</td>
            <td>@Html.HiddenFor(m => m.YnumberList[j].name)</td>
            <td>@Html.HiddenFor(m => m.YnumberList[j].number)</td>
            </tr>
            j++;
        }
    }
}
            </table>
        </div>
    <button class="btn btn-warning" type="submit" name="tijiao" value="yanjiu">提交</button>
    <button class="btn btn-warning" type="submit" name="tijiao" value="Ychongzhi">重置</button>
}
        <p style="text-align:center">研究生</p>
        <div class="panel panel-default table-responsive clear" style="overflow:scroll; height:400px">
            <table class="table table-striped" style="width:2400px">
                <tr>
                    <td>学院</td>
                    <td>系</td>
                    <td>专业名称</td>
                    <td>总人数</td>
                    <td>签约人数</td>
                    <td>签约率</td>
                    <td>考博、攻博人数</td>
                    <td>比例</td>
                    <td>意向人数</td>
                    <td>比例</td>
                    <td>其他就业/出国+公务员+选调生等</td>
                    <td>比例</td>
                    <td>签约+升博+意向+其他</td>
                    <td>比例</td>
                    <td>剩余人数</td>
                    <td>剩余比例</td>
                </tr>
                @{
    a = 0;
    foreach (var aca in @Model.acaList)
    {
        foreach (var dep in @Model.depList.Where(m => m.BelongId == aca.Id))
        {
            string depId = dep.Id.ToString();
            foreach (var major in @Model.YmajorList.Where(m => m.DepartId == depId))
            {
                @Html.HiddenFor(m => m.YnumberList[a].id)
                @Html.HiddenFor(m => m.YnumberList[a].name)
                <tr>
                    <td>@aca.Name</td>
                    <td>@dep.Name</td>
                    <td>@major.Name</td>
                    <td>@Model.YnumberList[a].number</td>
                    <td>@Model.YnumberList[a].signNumber</td>
                    <td>@Model.YnumberList[a].signP</td>
                    <td>@Model.YnumberList[a].kaoyan</td>
                    <td>@Model.YnumberList[a].kanyanP</td>
                    <td>@Model.YnumberList[a].yixiang</td>
                    <td>@Model.YnumberList[a].yixiangP</td>
                    <td>@Model.YnumberList[a].qita</td>
                    <td>@Model.YnumberList[a].qitaP</td>
                    <td>@Model.YnumberList[a].zonghe</td>
                    <td>@Model.YnumberList[a].zongheP</td>
                    <td>@Model.YnumberList[a].shengyu</td>
                    <td>@Model.YnumberList[a].shengyuP</td>
                </tr>
                a++;
            }
            <tr>
                <td colspan="3">合计</td>
                <td>@Model.YnumberList[a].number</td>
                <td>@Model.YnumberList[a].signNumber</td>
                <td>@Model.YnumberList[a].signP</td>
                <td>@Model.YnumberList[a].kaoyan</td>
                <td>@Model.YnumberList[a].kanyanP</td>
                <td>@Model.YnumberList[a].yixiang</td>
                <td>@Model.YnumberList[a].yixiangP</td>
                <td>@Model.YnumberList[a].qita</td>
                <td>@Model.YnumberList[a].qitaP</td>
                <td>@Model.YnumberList[a].zonghe</td>
                <td>@Model.YnumberList[a].zongheP</td>
                <td>@Model.YnumberList[a].shengyu</td>
                <td>@Model.YnumberList[a].shengyuP</td>
            </tr>
            a++;
        }
    }
}
            </table>
        </div>
        <footer class="text-right"></footer>
    </div>
</div>