@model Graduation.Models.SignInfoViewModel

@if (ViewBag.clocked == "锁定")
{
    ViewBag.clocked = "disabled";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>本科生就业信息管理</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">
</head>
<body>
    <!-- Left column -->
    <div class="templatemo-flex-row">
        <div class="templatemo-sidebar">
            <header class="templatemo-site-header">
                <h1>华北电力大学</h1>
            </header>
            <div class="profile-photo-container">
                <img src="../../images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
                <div class="profile-photo-overlay"></div>
            </div>
            <div class="mobile-menu-icon">
                <i class="fa fa-bars"></i>
            </div>
            <nav class="templatemo-left-nav">
                <ul class="ly-ul-parent">
                    <li>
                        <a href="/FillBaseInfo/Index" class="active">
                            <i class="fa fa-home fa-fw"></i>
                            通知
                        </a>
                    </li>
                    <li>
                        <a href="/FillBaseInfo/FillBaseInfo">
                            <i class="fa fa-bar-chart fa-fw"></i>
                            基本信息管理
                        </a>
                    </li>
                    <li>
                        <a href="/FillBaseInfo/FillApplInfo">
                            <i class="fa fa-database fa-fw"></i>
                            求职信息管理
                        </a>
                    </li>
                    <li>
                        <a href="/FillBaseInfo/EmployInfo">
                            <i class="fa fa-map-marker fa-fw"></i>
                            就业信息管理
                        </a>
                    </li>
                    <li>
                        <a href="/FillBaseInfo/FillSignInfo">
                            <i class="fa fa-users fa-fw"></i>
                            签约登记管理
                        </a>
                    </li>
                    <li>
                        <a href="StudentLogin.html">
                            <i class="fa fa-sliders fa-fw"></i>
                            修改密码
                        </a>
                    </li>
                    <li>
                        <a href="StudentImg.html">
                            <i class="fa fa-eject fa-fw"></i>
                            上传照片
                        </a>
                    </li>
                    <li>
                        <a href="StudentLogin.html">
                            <i class="fa fa-user-md fa-fw"></i>
                            退出系统
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Main content -->
        <div class="templatemo-content col-1 light-gray-bg">
            <div class="templatemo-top-nav-container">
                <h2>求职与就业信息管理系统</h2>
                <div class="right">
                    <span>用户信息：</span><span>学号：</span><span>&nbsp;&nbsp;</span><span class="admin">2013090101212</span>
                </div>
            </div>
            <div class="templatemo-content-container now-position ly-tab">
                <span>当前位置：</span><span>毕业生登录>></span><span>签约登记管理</span>
                <div class="content">
                    <span class="marginLeft">允许操作时间：</span><span>起始时间：</span><span class="admin">2015/10/18 0:00:00</span><span>结束时间：</span><span class="admin">2016/8/5 23:59:34</span>
                    @using (@Html.BeginForm())
                    {
                        @Html.HiddenFor(model => model.signInfo.StudentNumber)
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <table class="informationTable table">
                            <tr>
                                <td><span>学号：</span><span>@Html.ValueFor(model=>model.upload.StudentNumber)</span></td>
                                <td><span>姓名：</span><span>@Html.ValueFor(model => model.upload.Name)</span></td>
                                <td><span>学历：</span><span>@Html.ValueFor(model => model.upload.Education)</span></td>
                            </tr>
                            <tr>
                                <td><span>院：</span><span>@Html.ValueFor(model => model.upload.Academy)</span></td>
                                <td><span>系：</span><span>@Html.ValueFor(model => model.upload.Department)</span></td>
                                <td><span>班级：</span><span>@Html.ValueFor(model => model.upload.Class)</span></td>
                            </tr>
                            <tr>
                                <td><span>登记日期：</span>@Html.TextBoxFor(model=>model.signInfo.SignTime)</td>
                                <td colspan="2"><span>单位名称：</span>@Html.TextBoxFor(model=>model.signInfo.CompanyName)</td>
                            </tr>
                            <tr>
                                <td>
                                    <span>所属集团或系统：</span>
                                    @Html.DropDownListFor(model => model.signInfo.ComBelongGroup, ViewBag.Group as List<SelectListItem>)
                                </td>
                                <td colspan="2">
                                    <span>隶属部门：</span>
                                    @Html.DropDownListFor(model => model.signInfo.ComBelongDep, ViewBag.belong as List<SelectListItem>)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p>单位性质：</p>
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "10机关")机关
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "20科研设计单位")科研设计单位
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "21高等教育单位")高等教育单位
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "22中初教育单位")中初教育单位
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "23医疗卫生单位")医疗卫生单位
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "29其他事业单位")其他事业单位
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "31国有企业")国有企业
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "32三资企业")三资企业
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "39其他企业")其他企业
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "40部队")部队
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "55农村建设")农村建设
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "56城镇社区")城镇社区
                                    @Html.RadioButtonFor(model => model.signInfo.ComType, "99其他")其他
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>单位地址：</p>
                                    @Html.TextBoxFor(model => model.signInfo.CompanyAddress)
                                </td>
                                <td>
                                    <p>单位联系人：</p>
                                    @Html.TextBoxFor(model => model.signInfo.CompanyConn)
                                </td>
                                <td>
                                    <p>单位电话：</p>
                                    @Html.TextBoxFor(model => model.signInfo.CompanyTel)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>个人联系方式：</p>
                                    @Html.TextBoxFor(model => model.signInfo.PerTelType)
                                </td>
                                <td>
                                    <p>签约方式：</p>
                                    @Html.DropDownListFor(model => model.signInfo.SignType, ViewBag.signType as List<SelectListItem>)
                                </td>
                                <td>
                                    <p>协议书编号：</p>
                                    @Html.TextBoxFor(model => model.signInfo.AgreementID)
                                </td>
                            </tr>
                            <tr>
                                <td><input class="btn btn-info" type="submit" value="提交" @ViewBag.clocked /></td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>